<body style="margin-bottom: 50px;">
    <div class="container mt-4" style="background-color: rgba(255, 255, 255, 0.5);">
        <h1 style="font-size:x-large;padding-top: 20px;"><span class="name">About My Health Care, Hyderabad, India</span></h1>
        <div>
            <h2 style="color: #c3203d;">Setting New Benchmark in Health Care</h2>
            <p>Since three decades, Yashoda Group of Hospitals has been providing quality healthcare for the people in their diverse medical needs. People trust us because of the strong relationships we’ve built with them over the years.</p>
            <p>Under astute leadership and strong management, Yashoda Group of Hospitals has evolved as a centre of excellence in medicine providing the highest quality standards of medical treatment to all sections of the society. Our work has always been guided by the needs of patients and delivered by our perfectly combined revolutionary technology, best medical expertise and advanced procedures.</p>
            <div class="col row">
                <div class="col-7">
                    <p>We offer sophisticated diagnostic and therapeutic care in virtually every specialty and subspecialty of medicine and surgery.</p>
                    <ul>
                        <li>4 independent hospitals</li>
                        <li>4 Heart Institutes</li>
                        <li>4 Cancer Institutes</li>
                        <li>4000 Beds</li> 
                        <li>62 Medical specialties</li>
                        <li>700 Specialist doctors</li>
                    </ul>
                </div>
                <div class="col-5" >
                    <img src="/assets/about.jpeg" width="330px"  height="200px" alt="about">
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4" style="background-color: rgba(255, 255, 255, 0.5);padding-bottom: 50px;">
        <div class="col row">
            <div class="col-5">
                <div style="margin-left: 40px;margin-top: 50px;">
                    <img src="/assets/about2.jpeg" width="380px"  height="250px" alt="about" ><br>
                    <img src="/assets/about1.jpeg" width="380px"  height="250px" alt="about" class="mt-5">
                </div>
            </div>
            <div class="col-7">
                <div style="margin-top: 30px;">
                    <h2 style="color: #c3203d;">Core Values</h2>
                    <h3><b>Care</b></h3>
                    <p>We recognize that every person is important, and hence deserves the very best care possible. We will not be mechanical in our approach to work. We will be personal.</p>
                    <h3><b>Courtesy</b></h3>
                    <p>We understand that people walking through our doors are often going through a stressful time. We will go the extra mile to help both patients and their loved ones, feel completely at ease through courteous interactions at every stage.</p>
                    <h3><b>Commitment</b></h3>
                    <p>To continuous learning. To find better methods of prevention and cure. Through undertaking, supporting and commissioning research, in various medical and paramedical fields.</p>
                    <h3><b>Contribution</b></h3>
                    <p>Ensuring that we give back significantly to the society we live in through education, through planned charity and the supporting of local initiatives for better health.</p>
            

                </div>
            </div>   
        </div>
    </div>
</body>
