<body>
    <form class="form-group" *ngIf="action=='forget'" [formGroup]="forgetForm" (ngSubmit)="forgetSubmit()">
        <h1 class="my" style="padding-top: 60px;"><a href="/login" style="text-decoration: none;"><span class="name">My Health Care</span></a></h1>
            <table>
                <tr><th style="padding-top:10px;font-size: large;">Forget password</th></tr>
                <tr><td style="padding-left: 10px;padding-right:10px"><input class="font form-control mt-2" type="text" name="id" size="25" formControlName="id" placeholder="Enter username or email"></td></tr>
                <tr><td><input class="btn btn-primary mt-3 mb-3" type="submit" value="Done"></td></tr>
            </table>
    </form>
    <form class="form-group" *ngIf="action=='otp'" [formGroup]="OTPForm" (ngSubmit)="OTPSubmit()">
        <h1 class="my" style="padding-top: 60px;"><a href="/admin" style="text-decoration: none;"><span class="name">My Health Care</span></a></h1>
            <table>
                <tr><th style="padding-top:10px;font-size: large;">Confirm OTP</th></tr>
                <tr><td style="padding-left: 10px;padding-right:10px"><input class="font form-control mt-2" type="text" name="otp" size="25" formControlName="otp" placeholder="Enter 4 digit OTP"></td></tr>
                <tr><td><input class="btn btn-primary mt-3 mb-3" type="submit" value="Submit"></td></tr>
            </table>
    </form>
    <form class="form-group" *ngIf="action=='reset'" [formGroup]="resetForm" (ngSubmit)="resetSubmit()">
        <h1 class="my" style="padding-top: 60px;"><a href="/admin" style="text-decoration: none;"><span class="name">My Health Care</span></a></h1>
            <table>
                <tr><th style="padding-top:10px;font-size: large;">Reset password</th></tr>
                <tr><td style="padding-left: 10px;padding-right:10px"><input class="font form-control mt-2" type="password" name="password" size="25" formControlName="password" placeholder="Enter new password"></td></tr>
                <tr><td style="padding-left: 10px;padding-right:10px"><input class="font form-control mt-2" type="password" name="confirmPassword" size="25" formControlName="confirmPassword" placeholder="Confirm new password"></td></tr>
                <tr><td><input class="btn btn-primary mt-3 mb-3" type="submit" value="Done"></td></tr>
            </table>
    </form>
</body>