<body>
<form class="form-group" [formGroup]="changeForm" (ngSubmit)="submit()">
    
    <div style="padding-top: 10px;">
        <h1 class="my"><span class="name">My Health Care</span></h1>
        <table>
            <tr><th style="padding-top:10px;font-size: large;">Change User Password</th></tr>
            <tr><td style="text-align: left;padding-left:12px;padding-top:10px">Enter old password</td></tr>
            <tr><td style="padding-left: 10px;padding-right:10px"><input class="font form-control" type="password" name="password" formControlName="oldPassword" placeholder="old password"></td></tr>
            <tr><td style="text-align: left;padding-left:12px;padding-top:10px" >Enter new password</td></tr>
            <tr><td style="padding-left: 10px;padding-right:10px"><input class="font form-control" [class.is-invalid]="(newPassword.dirty||newPassword.touched)&& newPassword.invalid" type="password" name="password" formControlName="newPassword" placeholder="new password"></td></tr>
            <tr><td><div *ngIf="newPassword.invalid&&(newPassword.dirty||newPassword.touched)">
                <small class="text-danger" *ngIf="newPassword.errors?.required">This field is required</small>
                <small class="text-danger" *ngIf="newPassword.errors?.minlength">Password must be atlest 8 characters</small>
            </div></td></tr>
            <tr><td><input class="btn btn-primary" type="submit" value="Submit" style="margin-top:8px;margin-bottom: 15px;"></td></tr>
        </table>
    </div>
</form>
</body>

