<h1 class="my"><span class="name">My Appointments</span></h1>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="container">
    <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th style="text-align: center;">Appointment Id</th>
            <th>Patient Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Appointment Date</th>
            <th>Doctor Id</th>
            <th>Status</th>
            <th style="text-align: center;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let appointment of myAppointments">
            <td style="text-align: center;">{{appointment.id}}</td>
            <td>{{appointment.name}}</td>
            <td>{{appointment.gender}}</td>
            <td>{{appointment.age}}</td>
            <td>{{appointment.appointmentDate}}</td>
            <td>{{appointment.doctorId}}</td>
            <td>{{appointment.status}}</td>
            <td *ngIf="appointment.status=='open';else other" style="text-align: center;"><a routerLink="/user/{{username}}"title="click to cancel" (click)="status(appointment.id)"><i class="fa-solid fa-rectangle-xmark" style="font-size: 25px;"></i></a></td>
            <ng-template #other style="text-align: center;"><td style="text-align: center;">N/A</td></ng-template>
          </tr>
        </tbody>
    </table>    
</div>